<app-navbar></app-navbar>
<!-- inicio  -->
<div class="container-fluid" id="contenedorPrincipal">
    <div class="row" id="rowBievenida">
        <div class="col-12" id="colBienvenida">
            <!-- <img src="../../../assets/img/road.jpg" alt="Sebalu"> -->
            <!-- <video src="../../../assets/video/banner.webm" id="videoBaner" autoplay loop muted>
                Su navegador no soporta esta banner en video
            </video> -->
            <img src="../../../assets/img/banner.gif" alt="Bienvenidos a Sebalu Logistics" id="videoBaner">
            <div id="divBienvenida">
                <h3 style="font-family: 'LawyerGothic-Bold', sans-serif;">Sebalu Logistics</h3>
                <h5 style="font-family: 'LawyerGothic-Bold', sans-serif;">Somos tu aliado ideal</h5>
            </div>
        </div>
    </div>
</div>

<!-- acerca de nosotros -->
<div class="container contenedorAbout" id="contenedorAbout">
    <div class="container" id="containerSobre">
        <div class="row" id="filaTituloAbout">
            <div class="col-12" id="colTituloAbout">
                <h3 class="titulosPrincipales">Acerca de nosotros</h3>
            </div>
        </div>

        <div class="row" id="rowAbout">
            <div class="col-sm-12 col-md-12 col-lg-6" id="colAboutDetalles">
                <p>Contamos con más de dos años de experiencia en manejo de cargas de medicamentos, retiro en Aduanas y en Farma (zona de Colón), así como también realizando entregas en centros médicos y clínicas en Panamá, Chorrera y Chiriquí.
                </p>
                <p>Nuestra experiencia le da la garantía de contar con un aliado ideal en sus operaciones.</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 " id="colAboutImg">
                <img src="../../../assets/img/acercaN.jpg" alt="Acerca de nosotros">
            </div>
        </div>
    </div>

    <!--Servicios-->
    <div class="container">
        <div class="row">
            <div class="col-12" id="colTituloServicios">
                <h3 class="titulosPrincipales">Nuestros servicios</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="colServicios">
                <div class="card-group" id="servicios">
                    <div class="card">
                        <img src="../../../assets/img/card-01.jpg" class="card-img-top rounded " alt="Transporte de medicamentos">
                        <div class="descrip">
                            <p class="descrip2">Cumplimos con los más altos estándares de calidad.</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Transporte de medicamentos</h5>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../../../assets/img/card-02.jpg" class="card-img-top rounded" alt="Disposición de vehículos tipo panel">
                        <div class="descrip">
                            <p class="descrip2">Servicio de mensajería corporativa. Trámites y cadena de suministro</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Disposición de vehículos tipo panel</h5>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../../../assets/img/card-03.jpg" class="card-img-top rounded" alt="...">
                        <div class="descrip">
                            <p class="descrip2">Todos con temperatura en rango desde -25°C hasta +25°C.</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Disposición de vehículos hasta 16"</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- video -->
<div class="container-fluid" id="contenedorElegirnos" style="background-color: rgba(202, 228, 231, 0.2); padding-bottom: 45px;">
    <div class="container contenedorAbout">
        <div class="row" id="filaTituloElegirnos">
            <div class="col-12" id="colElegirnos">
                <h3 class="titulosPrincipales">¿Porqué elegirnos?</h3>
            </div>
        </div>

        <div class="row" id="filaElegirnos">
            <div class="col-sm-12 col-md-6 col-lg-6" id="colVideoElegirnos">
                <div class="ratio ratio-16x9">
                    <video src="../../../assets/video/sebalu2.webm" style="width: 100%;" id="video" #video controls></video>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6" id="colDetalleElegirnos">
                <div>
                    <h5>Esta es nuestra Historia</h5>
                    <p>En tan solo un año sobrepasamos nuestras expectativas.</p>
                    <p>✔ Confianza.</p>
                    <p>✔ Solidez.</p>
                    <p>✔ Compromiso.</p>
                    <p>✔ Somos tu aliado ideal.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="loading" class="animate__animated" #loading>
    <img id="imgLoader" src="../../assets/loading.gif" #imgLoader alt="Cargando...">
</div> -->
<!-- contacto -->
<div class="container contenedorAbout" id="contContacto">
    <div class="row">
        <div class="col-12" id="colTituloContacto">
            <h3 class="titulosPrincipales">Contáctenos</h3>
        </div>
    </div>
    <div class="row" id="filaContacto">
        <div class="col-sm-12 col-md-12 col-lg-6" id="divMapa">
            <h5 class="feature-title mb-2" style="font-size: 1.1rem;">Encuentrenos en Google Maps</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3940.044510206478!2d-79.42876115441322!3d9.059704708871502!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fab55a1ba3ae8cb%3A0x45da81018ada4025!2sZP%20Metro%20Pedregal%20-%20Bahia%2014!5e0!3m2!1ses!2spa!4v1609719972133!5m2!1ses!2spa"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6" id="divFormulario">
            <form id="formulario" [formGroup]="forma" (ngSubmit)="enviarMensaje()">
                <legend style="font-size: 1.1rem;">Envíanos un Mensaje</legend>
                <span class="banderaSpan" *ngIf="banderaNombre === false">* Mínimo 5 carácteres, máximo 100</span>
                <div class="mb-3">
                    <label>Nombre:</label>
                    <input type="text" id="disabledTextInput" class="form-control" formControlName="nombre" placeholder="Nombre y Apellido" required minlength="3" maxlength="50">
                </div>
                <span class="banderaSpan" *ngIf="banderaCorreo === false">* Correo inválido</span>
                <div class="mb-3">
                    <label>Correo Electronico:</label>
                    <input type="email" id="floatingInput" class="form-control" formControlName="correo" placeholder="Correo Electrónico:" required minlength="3" maxlength="50">
                </div>
                <span class="banderaSpan" *ngIf="banderaMensaje === false">* Mínimo 5 carácteres, máximo 300</span>
                <div class="formmb-3">
                    <label>Mensaje:</label>
                    <textarea class="form-control" placeholder="Mensaje" id="floatigTextarea2" formControlName="mensaje" style="height: 100px;" required minlength="4" maxlength="300"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </form>
        </div>
    </div>
</div>

<!-- boton whatsap -->
<a href="https://api.whatsapp.com/send?phone=50769250167&text=Hola,%20quisiera%20hacerle%20una%20pregunta" target="_blank"> <i id="botonWhats" class="fab fa-whatsapp"></i></a>
<app-footer></app-footer>
<div id="loading" #loadgin style="display: none;">
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>