<div class="container-fluid" id="contenedorPrincipal">
    <div class="row" id="filaNav">
        <div class="col-11" style="margin: 0 auto;">
            <nav id="nav">
                <!-- logo -->
                <div id="logo" style="border: 3px solid rgb(231, 229, 229); border-radius: 100%; background-color: rgb(231, 229, 229);">
                    <img src="../../../assets/img/logo_transparent_background.png" width="40" height="40" class="d-inline-block aling-top" alt="Sebalu">
                </div>

                <!-- enlaces -->
                <div id="enlacesCentrales">
                    <ul>
                        <li>
                            <a href="#rowBievenida"><i class="fas fa-home"></i> Inicio</a>
                        </li>
                        <li>
                            <a href="#contenedorAbout"><i class="fas fa-building"></i> Acerca de nosotros</a>
                        </li>

                        <li>
                            <a href="#colTituloServicios"><i class="fas fa-truck"></i> Servicios</a>
                        </li>
                    </ul>
                </div>

                <div id="enlaceFinal">
                    <ul>
                        <li>
                            <a href="#colTituloContacto"><i class="fas fa-phone-alt"></i> Contáctenos</a>
                        </li>
                    </ul>
                </div>

                <div id="botonToggle">
                    <i class="fas fa-bars" (click)="showToggle($event)"></i>
                </div>

                <div id="navToggle" class="animate__animated">
                    <ul>
                        <li>
                            <a href="#rowBievenida"><i class="fas fa-home"></i> Inicio</a>
                        </li>
                        <li>
                            <a href="#contenedorAbout"><i class="fas fa-building"></i> Acerca de nosotros</a>
                        </li>

                        <li>
                            <a href="#colTituloServicios"><i class="fas fa-truck"></i> Servicios</a>
                        </li>
                        <li>
                            <a href="#colTituloContacto"><i class="fas fa-phone-alt"></i> Contáctenos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>