<!--Footer-->
<div class="container-fluid" style="margin-top: 80px;">
    <div class="row">
        <div class="col-12">
            <footer>
                <div id="descripcion">
                    <p><span>&copy;{{year}} SebaluLogistics | </span> <span> Todos los derechos reservados</span> </p>
                    <div id="redesSociales">
                        <a href="https://www.twitter.com/sebalulogistics" target="_blank"><img src="../../../assets/img/twiiter.png" alt="Twitter"></a>
                        <a href="https://www.facebook.com/Sebalu-Logistics-2214128188853282" target="_blank"><img src="../../../assets/img/facebook.png" alt="Facebook"></a>
                        <a href="https://www.instagram.com/sebalu_logistics/" target="_blank"><img src="../../../assets/img/instagram.png" alt="Instagram"></a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>